.app {
  display: flex;
  flex-direction: column;

  background-color: var(--clr-background);
  color: var(--clr-foreground);

  @include responsive('large') {
    max-width: 1440px;
    margin: 0 auto;
  }

  &_body {
    padding: 32px;
  }
}
